@charset "UTF-8";

html{
	font-family: sans-serif;
}
body{
	background-color: #ffcc99;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
html{
	margin-top: 40px;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-left: 100px;
}
h2{
	line-height: 150%;
}
